/*Table of contents
Body
Navbar
Menu
Audio
Biography
  Grave
Music
grave
Footer
*/

/*Body*/

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,600&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,600&family=EB+Garamond:wght@500&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(15px + 0.390625vw);
}
@media screen and (min-width: 1025px) {
  body {
    margin: 0rem 5rem 0rem 5rem;

    .header {
      right: 0%;
    }
  }
}

body {
  background-color: lightgrey;
}

p {
  padding: 1rem;
}

img {
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1025px) {
  .Mozartimage:nth-of-type(even) {
    float: left;
    height: auto;
    width: 20%;
    display: inline;
  }
  .Mozartimage:nth-of-type(odd) {
    float: right;
    height: auto;
    width: 20%;
    display: inline;
  }
  #Mozartsignature {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  #Mozart {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .subheading {
    clear: both;
  }
  img {
    padding: 2rem;
  }
}

$text-center: center;

@mixin hoverstyles {
  &:hover {
    color: white;
  }
}

/*Navbar*/

.header {
  z-index: 10;
  position: fixed;
  background-color: #9a9595;
  width: 100%;
  display: grid;
  grid-template: "p1" "p2";
  @media screen and (min-width: 481px) {
    .header__burgerholder {
      display: none;
    }
  }

  .header_default--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: p1;
  }

  .header__hamburger {
    @include hoverstyles;
    left: 0vw;
    top: 0vw;
    display: block;
    z-index: 5;
    margin-top: 1em;
  }

  .header__hamburger:hover > .header__hamburger--hamburger-bit {
    background-color: white;
    color: white;
  }
  .header__hamburger--hamburger-bit {
    width: 3em;
    height: 0.5em;
    background-color: black;
    margin: 0.5em 0;
    transition: 0.4s;
  }
  .show #hamburger-bit-1 {
    transform: translate(0, 1em) rotate(-45deg);
    transition-duration: 500ms;
  }
  .show #hamburger-bit-2 {
    opacity: 0;
    transition-duration: 500ms;
  }
  .show #hamburger-bit-3 {
    transform: translate(0, -1em) rotate(45deg);
    transition-duration: 500ms;
  }
  .fa-solid {
    margin-top: 0.85em;
  }
  .fa-solid {
    @include hoverstyles;
    font-size: 2em;
  }

  .title {
    font-family: "EB Garamond", serif;

    color: black;
    text-decoration: none;
    font-size: 3.5rem;
    margin-top: 0rem;
  }

  @media screen and (min-width: 481px) {
    .title {
      font-size: 4rem;
      flex: 1;
      text-align: center;
    }
    .fa-solid {
      margin-right: 1rem;
    }
  }
  @media screen and (min-width: 481px) {
    .header__burgerholder > .header__hamburger > * {
      display: none;
    }
  }
}

/* Menu */

.menu_slide {
  display: none;
}

@media screen and (min-width: 481px) {
  #nav_default {
    display: none;
  }
}

@mixin menumixin {
  display: block;
  z-index: 40;
  position: fixed;
  background-color: grey;
  color: black;
  height: 100%;
  width: 100%;
  top: 0;
  overflow-x: hidden;
  margin: 0rem;
  animation-direction: normal;
  animation-duration: 0.75s;
  text-align: $text-center;
  margin-top: 4.5rem;
}

.menuclassexit {
  animation-name: menudisappear;
  transition: 1s;
  animation-fill-mode: forwards;
  @include menumixin;
}

.menuclassenter {
  animation-name: menuappear;
  @include menumixin;
}

@keyframes menudisappear {
  0% {
    transform: translate(0px, 0px);
    display: block;
  }

  100% {
    transform: translate(-100%, 0px);
    display: none;
  }
}

@keyframes menuappear {
  0% {
    transform: translate(-500px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.header__defaultmenu--item {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  left: 0;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  color: black;
  text-decoration: none;
}

.header__defaultmenu--item:hover {
  @include hoverstyles;
}

.header__Mozvemenu--wrapper {
  display: none;
}

@media screen and (min-width: 481px) {
  .header__responsivemenu--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    grid-area: p2;

    > * {
      margin: 0.8rem;
    }
    padding: 0.5rem;
  }

  .header__responsivemenu--wrapper:hover > * {
    @include hoverstyles;
  }

  .header__responsivemenu--item {
    font-size: 1rem;
    z-index: 11;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: black;
    text-decoration: none;
  }
}

.section {
  scroll-margin-top: 10rem;
}

@media screen and (min-width: 769px) {
  .scrollitem {
    font-size: 1.5rem;
  }
}

/* Audio */

.audios {
  display: none;
  width: 100%;

  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 10%;
}

source {
  display: none;
}

/* Biography */

#Mozart {
  display: block;
  transform: translateY(8rem);
  margin-bottom: 8rem;
  border-radius: 50%;
}
#Mozartbadge {
  border-radius: 50%;
}

.paragraph {
  margin: 0.1rem;
  text-align: center;
}

@media screen and (min-width: 1201px) {
}

h2 {
  text-align: $text-center;
  padding: 3rem;
  font-size: 3rem;
}

@media screen and (min-width: 481px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  text-align: $text-center;
  padding: 3rem;
}

@media screen and (min-width: 481px) {
  h3 {
    font-size: 1.5rem;
  }
}

.Mozartimageanimate {
  animation-name: fadein;
  animation-duration: 5.5s;
  transition-property: opacity;
  opacity: 0;
  transition-timing-function: linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.complete {
  transform: none;
  opacity: 1;
}

/* Grave */

.grave__Grave--Wrapper {
  top: 0;
  left: 0;
  position: relative;
  font-size: 1rem;
  padding:1rem;
}





.grave__Image--Grave {
  z-index: 3;
  display: relative;
  width: 100%;
  
}

@media screen and (min-width:1025px){
   .grave__Grave--CrossWrapper
   //.grave__Grave--Animate 
   {width:80%;}
  
   .grave__Grave--Wrapper {
    padding:6rem;
   }

}


@mixin BeforeandAfter {
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    background-color: white;
  }

  //for the stem
  &::before {
    height: 30vw;
    width: 1.5vw;
    top: -16% + 0.390625%;
    left: 50%;
    border-radius: 0% 0% 40% 0%;
  }

  @media screen and (min-width: 1025px) {
    &::before {
      top: calc(-29% + 1.790625vw);
    }
  }

  //for the head
  &::after {
    height: 8vw;
    width: 11vw;
    border-radius: 70% 30% 70% 30%;
    bottom: 63%;
    left: 1%;
  }
}

.grave__Grave--Note {
  transform-origin: center;
  position: relative;
  height: 5vw;
  width: 20vw;
  @include BeforeandAfter;
  padding-bottom: 65%;
}

.grave__Grave--Note + .grave__Grave--Note {
  margin-right: 2vw;
}



.grave__Grave--CrossWrapper {
  width: 100%;
  padding-top: 56.216216216%;
  top: 0;
  left: 0;
  background-color: black;
  position: absolute;
  height: 100%;
  z-index: 2;
  //display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grave__Grave--Animate {
  animation-name: gravereveal;
  animation-duration: 3s;
  animation-fill-mode: forwards;

  //@include Graveanimate();
}


// @mixin Graveanimate {
 
// }


@keyframes gravereveal {
  0% {
    opacity: 1;
    background-color: black;
    display: block;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

/* Music */


.Iframe__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%; height: 60rem;
overflow: auto;
  position: relative;
}





@media screen and (min-width: 1025px) {
  .Iframe__Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 40rem;
       
    }
  }

.Legacy_Video {

  min-width: max-content;
  margin: 1rem;
  width:80%;
  height: auto;
  aspect-ratio: 16/9;

  animation-name: musicfadein;
  animation-duration: 5.5s;
  transition-property: left;
  transition-timing-function: linear;
}

@keyframes musicfadein {
  0% {
    left: -10rem;
    opacity: 0;
  }
  100% {
    left: 20rem;
    opacity: 100;
  }
}

// svg {
//   display: block;
//   margin: auto;
// }

/*grave*/

.Contact_Paragraph--Hide {
  display: none;
}
.Contact_Paragraph--Show {
  display: block;
  padding: 1rem;
 animation-name: textreveal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes textreveal {
  0% {
    opacity: 0;
    display: none;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

/* Footer */

.Footer__Buttoncontainer {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  position: relative;
  margin: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.Footer__Button {
  @include hoverstyles;
  height: 2rem;
  width: 2rem;
  padding: 0rem;
}
@media screen and (min-width: 481px) {
  .Footer__Button {
    height: 3rem;
    width: 3rem;
  }
}

.Footer__Button--Dark {
  display: block;
  margin: auto;
}

.Footer__Button--Light {
  display: none;
  margin: auto;
}

.Footer_Citation--Wrap {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.Footer_Citation {
  font-size: 0.5rem;
  display: block;
  position: relative;
  padding: 0.3rem;
  color: blue;
}
