<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mozart.css" type="text/css" />

</head>
<body>
    <div>You sent an email.</div>
    <button name="return" id="return"></button>
</body>
<script src="mozart.js"></script>

</html>