
/*
body {margin:0;padding:0; background-color: GREY;}
*/

#topelements {display:flex; flex-direction: row; justify-content: space-evenly; z-index: 10;}


.show #hamburger-bit-1 {
  transform: translate(0, 1em) rotate(-45deg);
}

.show #hamburger-bit-2 {
 opacity:0;
}

.show #hamburger-bit-3 {
transform: translate(0, -1em) rotate(45deg);
}


.hamburger-bit {
width: 3em;
height: 0.5em;
background-color: black;
 margin: .5em 0; 
transition:.4s
}

/* .fa-solid {width:4em; height: auto; margin-top: .75em;} */
.fa-solid {margin-top: .85em}
.fasolid:hover {background-color:white}

#title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   margin-right: 9%; 
  font-size: 2.5rem;
  margin-top: .25rem;
}



#audio {
  position:fixed;
  display:none;
  width:100%;
z-index: 10;
bottom:0%}

/*#hamburger {margin-left:9%}*/



/*
#menu {
  display: none;
  z-index: 1;
  position: fixed;
   background-color: grey;
  color:black; 
  height:100%;
  width:100%;
 overflow-x: hidden;
 margin: 0rem;
 animation-name: menuappear;
 animation-duration: .5s;
animation-direction: normal;
text-align: center;
} 


@keyframes menuappear  { 

0% {
  transform: translate(-500px, 0px);
}
100% {
  transform: translate(0px, 0px);
}
}

*/

/*
.menu-item {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
left:0;
font-size: 1.5em;
display:flex; flex-direction: column; justify-content: space-between; padding:2em;
}
*/
.menu-item:hover {
  color:white
} 


.paragraph {margin: 1rem;}


h2  {text-align: center;}

h3  {text-align: center;}





#Mozartfamily {
   height: auto; width:100%;
  color:blue;
}


#test {  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: inline-block;
}

.Mozartimagetest { animation-name: fadein;
  animation-duration: 1.5s;
  transition-property: opacity;
  opacity: 0;
  transition-timing-function: linear;
  }

  @keyframes fadein {

    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .complete {
    transform: none;
    opacity: 1;
}

img {width:100%}
