body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

#burgerholder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 1;
  position: relative;
}

#hamburger {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  transition-duration: 500ms;
}
#hamburger:hover {
  color: white;
}

#hamburger2 {
  z-index: 3;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  transition-duration: 2s;
}
#hamburger2:hover {
  color: white;
}

#hamburger:hover > .hamburger-bit {
  background-color: white;
}

#hamburger2:hover > .hamburger-bit {
  background-color: white;
}

.hamburger-bit {
  width: 3em;
  height: 0.5em;
  background-color: black;
  margin: 0.5em 0;
  transition: 0.4s;
}

.show #hamburger-bit-1 {
  transform: translate(0, 1em) rotate(-45deg);
  transition-duration: 500ms;
}

.show #hamburger-bit-4 {
  transform: translate(0, 1em) rotate(-45deg);
  transition-duration: 500ms;
}

.show #hamburger-bit-2 {
  opacity: 0;
  transition-duration: 500ms;
}

.show #hamburger-bit-5 {
  opacity: 0;
  transition-duration: 500ms;
}

.show #hamburger-bit-3 {
  transform: translate(0, -1em) rotate(45deg);
  transition-duration: 500ms;
}

.show #hamburger-bit-6 {
  transform: translate(0, -1em) rotate(45deg);
  transition-duration: 500ms;
}

#musicbutton:hover {
  color: white;
}

.fa-solid {
  margin-top: 0.85em;
}

.fasolid:hover {
  color: white;
}

#title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 9%;
  font-size: 2.5rem;
  margin-top: 0.25rem;
}

#audios {
  display: none;
  width: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 10%;
}

source {
  display: none;
}

.menuclass0 {
  display: none;
}

.menuclass {
  animation-name: menudisappear;
  transition: 1s;
  animation-fill-mode: forwards;
  display: block;
  z-index: 2;
  position: fixed;
  background-color: grey;
  color: black;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0rem;
  animation-direction: normal;
  animation-duration: 0.75s;
  text-align: center;
}

.menuclass2 {
  animation-name: menuappear;
  display: block;
  z-index: 2;
  position: fixed;
  background-color: grey;
  color: black;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0rem;
  animation-direction: normal;
  animation-duration: 0.75s;
  text-align: center;
}

@keyframes menudisappear {
  0% {
    transform: translate(0px, 0px);
    display: block;
  }
  100% {
    transform: translate(-500px, 0px);
    display: none;
  }
}
@keyframes menuappear {
  0% {
    transform: translate(-500px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.menu-item {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  left: 0;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

.menu-item:hover {
  color: white;
}

.paragraph {
  margin: 1rem;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#Mozartfamily {
  height: auto;
  width: 100%;
  color: blue;
}

.Mozartimagetest {
  animation-name: fadein;
  animation-duration: 1.5s;
  transition-property: opacity;
  opacity: 0;
  transition-timing-function: linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.complete {
  transform: none;
  opacity: 1;
}

img {
  width: 100%;
}/*# sourceMappingURL=mozart.css.map */