/*Table of contents
Body
Navbar
Menu
Audio
Biography
Music
Contact
Footer
*/

/*Body*/

*{ margin:0; padding: 0; box-sizing: border-box; }

body {background-color: grey;}

$text-center:center;

@mixin hoverstyles {&:hover {color:white;}}
 @mixin hoverstylesbg { &:hover { background-color:white;}}

/*Navbar*/


.header{
  z-index: 10; position: fixed;background-color: grey;width:100%;  .header__burgerholder {display:flex; flex-direction: row; justify-content: space-evenly;  position:relative; height:3.5rem;}.header__hamburger { @include hoverstyles;left: 0vw;top: 0vw;display:block; z-index: 5;}.header__hamburger:hover > .header__hamburger--hamburger-bit {background-color:white;color:white} .header__hamburger--hamburger-bit {width: 3em;height: 0.5em;background-color: black;margin: .5em 0; transition:.4s}.show #hamburger-bit-1 {transform: translate(0, 1em) rotate(-45deg);transition-duration: 500ms;}.show #hamburger-bit-2 {opacity:0; transition-duration: 500ms;}.show #hamburger-bit-3  {transform: translate(0, -1em) rotate(45deg); transition-duration: 500ms;}.fa-solid {margin-top: .85em;}.fa-solid{@include hoverstyles;}.title {font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;font-size: 2.5rem;margin-top: .25rem;}}


/* Menu */

.menuclassdefault {
  display:none;
}




@mixin menumixin {
  display: block;
  z-index: 4;
  position: fixed;
 //position: absolute;
   background-color: grey;
  color:black; 
  height:100%;
  width:100%;
  top:0;
 // left:0;
 overflow-x: hidden;
 margin: 0rem;
animation-direction: normal;
animation-duration: .75s;
text-align: $text-center;
margin-top: 3.5rem;
}


.menuclassexit  {
 animation-name: menudisappear;
 transition: 1s;
 animation-fill-mode: forwards;
@include menumixin

} 



.menuclassenter  {
 animation-name: menuappear;
 @include menumixin;

} 


@keyframes menudisappear  { 
  
  0% {
    transform: translate(0px, 0px);
    display: block;
  }

  

  100% {
    transform: translate(-500px, 0px);
    display: none;

  }

  }
  //need to properly translate


  


    @keyframes menuappear {

        0% {
            transform: translate(-500px, 0px);
          }
          100% {
            transform: translate(0px, 0px);

          }
        
    }







  .menu-item {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  left:0;
  font-size: 1.5em;
  display:flex; flex-direction: column; justify-content: space-between; padding:2em;
  }
  






.menu-item:hover {
  color:white
} 

/* Audio */ 

.audios {
  display:none;
  width:100%;
  
    position:fixed;
  width:100%;
  z-index: 1;
  bottom:10%;}
  
  
  
  source{display: none;}
  




/* Biography */

#Mozart {margin-top: 5rem;}

.paragraph {margin: 1rem;}




h2  {text-align:$text-center;}

h3  {text-align:$text-center;}





#Mozartfamily {
   height: auto; width:100%;
  color:blue;
}



.Mozartimagetest { animation-name: fadein;
  animation-duration: 5.5s;
  transition-property: opacity;
  opacity: 0;
  transition-timing-function: linear;
  }

  @keyframes fadein {

    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .complete {
    transform: none;
    opacity: 1;
}

img {width:100%}

/* Music */


iframe {width:90%;padding:.5rem;}


.Legacy_Video {
  animation-name: musicfadein;
  animation-duration: 5.5s;
  transition-property: left;
 // left:-10rem;
  //opacity: 0;
  transition-timing-function: linear;
}

@keyframes musicfadein {

  0% {
    left:-10rem; 
  opacity:0; }
  100% {
    left:20rem;
    opacity:100;
  }
}



svg {display:block; margin:auto;

}


/*Contact*/





// @mixin HorizontalCross{
//    height: .5em;
//    width:3em; 
//    background-color: white;
//    left:50%;
//    z-index: 3;
//    //margin-right: 10rem;
   
// }


// @mixin VerticalCross {
//    height: 5em;
//     width:.5em; 
//   left:50%;
//   //top:45%;
//   }


//@mixin Cross {height:5rem; width:5rem; position:relative;}
//@mixin Cross{ position:absolute; z-index:3;background-color: blue;color:blue;display:block;top:50%;}

.Contact__Grave--Wrapper{
height:12rem;
}


@mixin BeforeandAfter {
   

  &::before, &::after{content:"";position:absolute;  z-index:4 ;background-color:white;     
  }

  //for the height
  &::before {
    height: 30vw;
    width: 2.5vw;
    top: 0;
    left: 30%;
 }

 //for the width
  &::after { 
    height: 2.5vw;;
    width:15vw; 
 
    top:120%;
    left: 0;

 }
}

.Contact__Grave--Cross + .Contact__Grave--Cross {
  margin-left: 4vw;
}

.Contact__Grave--Cross {transform-origin: center; 
  position:relative;
   height:5vw; width:20vw;
}

.Contact__Grave--Wrapper {position:relative; font-size: 1rem; 


//make the image go behind the crosses, not on top

  .Contact__Grave--Background {position:absolute; width:100%; height:100%; z-index: 2; display:block; margin:auto; background-color: black;}
.Contact__Image--Grave {width: 100%;}


.Contact__Grave--CrossWrapper {display: flex;justify-content: center;align-items: center;height: 12rem;}


.Contact__Grave--Cross { @include BeforeandAfter;}
.Contact_Paragraph { display:none;}
}

.Obs3 {
animation-name: gravereveal;

background-color:red;
position:absolute; width:100%; height:100%; z-index: 2; display:block; margin:auto;}

@keyframes gravereveal {

0% {
  opacity:1;
}

100% {
  opacity:0;
}

}



/* Footer */

//use em

.Footer {font-size: .1rem;}

.Footer__Button {@include hoverstyles; width:1rem; }

.Footer__Button--Dark {display:block; margin:auto; }

.Footer__Button--Light {display:none; margin:auto;}

.Footer__Container {display:flex; flex-direction: row; justify-content: space-evenly;  padding:2rem;  
}

.Footer_Citation {font-size: .5rem; display:flex; flex-direction: column;}